Download demo:
<ul><li><%= link_to "Android", "http://csc780-project-kchoi.googlecode.com/svn/trunk/Untouchable/app/build/outputs/apk/app-debug.apk" %>
</li></ul>

<ul class="nav nav-tabs">
  <li><a href="#over" data-toggle="tab"><h3>Overview</h3></a></li>
  <li><a href="#screens" data-toggle="tab"><h3>Screenshots</h3></a></li>
</ul>

<div class="tab-content">
  <div id="over" class="tab-pane fade in active">
    <p>
      <i>Untouchable</i> was my term project for a mobile applications course. The base concept
      is a shmup/bullet-hell game in which the player controls a small fighter and must survive
      against waves of enemy fire, in the style of <i>Galaga</i> or <i>Space Invaders</i>. The
      objective of <i>Untouchable</i> is to avoid all enemy fire until the energy meter is fully
      charged, at which point the enemy spaceship is destroyed and the stage is cleared. If the
      player is hit at any point, the game ends, but tapping the screen will clear all enemy
      fire from the screen at the cost of partially depleting the meter. The player can toggle
      in the game options whether the ship is controlled  by tilting the phone, or by holding a
      finger down on the screen.
    </p>

    <p>
      <i>Untouchable</i> was originally developed for the Samsung Galaxy Nexus phone, which has
      a screen resolution of 720x1280 pixels. Due to time constraints during the initial
      development period, the game has not been localized for any other hardware systems.
      Although the game will still run on other phones models, the size and position of game
      elements will likely not match the screenshots.
    </p>
  </div>

  <div id="screens" class="tab-pane fade" style="text-align:center">
    <div style="float:left;width:33%">
      <h3>Title screen</h3>
      <p><%= image_tag("Untouchable/titlescreen.jpg") %></p>
    </div>

    <div style="float:right;width:33%">
      <h3>High score screen</h3>
      <p><%= image_tag("Untouchable/scorescreen.jpg") %></p>
    </div>

    <div style="float:left;width:33%">
      <h3>Game screen</h3>
      <p><%= image_tag("Untouchable/gamescreen.jpg") %></p>
    </div>
  </div>
</div>