Download demo:
<ul>
  <li>TODO <!-- <%= link_to "JAR", "https://github.com/darthyoshi/YAJMinesweeper/tree/master/dist" %> --></li>
</ul>

<ul class="nav nav-tabs">
  <li><a href="#over" data-toggle="tab"><h3>Overview</h3></a></li>
  <li><a href="#screens" data-toggle="tab"><h3>Screenshots</h3></a></li>
</ul>

<div class="tab-content">
  <div id="over" class="tab-pane fade in active">
    <p>
      TODO description
    </p>
  </div>

  <div id="screens" class="tab-pane fade">
    <p>
      <h3>TODO screens</h3>
<!--      Easy<br>
      <%= image_tag("SlidePuzzle/easy.jpg") %><br>
      Normal<br>
      <%= image_tag("SlidePuzzle/normal.jpg") %><br>
      Hard<br>
      <%= image_tag("SlidePuzzle/hard.jpg") %><br>
-->    </p>
  </div>
</div>