<div class='form'>
    <div class='pull-right' style='margin-right:300px'>
        Time:<br>
        <input type='text' id='hour' tabindex=2>:<input type='text' id='min' tabindex=3>
    </div>

    <div style='margin-left:300px'>
        Post a note:<br>
        <input type='text' id='note' tabindex=1>
    </div>
</div>

<table class='table cal_table'>
    <thead id='carousel'>
        <tr>
            <th><button id='prev_year'>&lt;&lt;</button></th>
            <th><button id='prev_month'>&lt;</button></th>
            <th class='cur_month' colspan='3'></th>
            <th><button id='next_month'>&gt;</button></th>
            <th><button id='next_year'>&gt;&gt;</button></th>
        </tr>
    </thead>

    <tbody id='month'></tbody>
</table>
