<div class='form'>
    <div id='title'></div>

    Time:
    <select id='hour'></select>:<select id='min'></select>
    <input type='text' id='note'></input>
    <button class='add_note'>Submit</button>
</div>

<table class='table cal_table'>
    <thead id='carousel'>
        <tr>
            <th><button id='prev_year'>&lt;&lt;</button></th>
            <th><button id='prev_month'>&lt;</button></th>
            <th class='cur_month' colspan='3'></th>
            <th><button id='next_month'>&gt;</button></th>
            <th><button id='next_year'>&gt&gt;</button></th>
        </tr>
    </thead>

    <tbody class='month'></tbody>
</table>
