<h1>Calendar</h1>

<table class='table cal_table'>
    <thead>
        <tr>
            <th><button id='prev_year'>&lt;&lt;</button></th>
            <th><button id='prev_month'>&lt;</button></th>
            <th class='cur_month' colspan='3'></th>
            <th><button id='next_month'>&gt;</button></th>
            <th><button id='next_year'>&gt&gt;</button></th>
        </tr>
    </thead>

    <tbody class='month'></tbody>
</table>
