<div class='container hero-unit'>
<h1>Calendar</h1>

<table class='table'>
    <thead>
        <tr>
            <th>&laquo</th>
            <th class='cur_month'></th>
            <th>&raquo</th>
        </tr>
    </thead>

    <tbody>
        <tr class='week'></tr>
    </tbody>
</table>
</div>
