<h1>Project 2</h1>
<ul>
<li>I chose to use the bootstrap-sass gem for this project</li>
<li>After adding the gem to the project Gemfile, I ran "bundle install" to import the gem.</li>
</ul>
<script>
$(document).ready(function(){
  $("#toggle").click(function(){
    $("#msg").toggle();
  });
});
</script>
<button id="toggle">CLick me!</button>
<div id='msg' display='none'>JQuery works!</div>
<script>
  $('#msg').hide();
</script>
