// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cal_table th {
    text-align: center;
    text-overflow: auto;
}

.day {
    table-layout: fixed;
    width: 5em;
    height: 5.5em;
    background: #eddedd;
    overflow: hidden;
    text-overflow: ellipsis;
}

.empty {
    background: #ddffdd;
}

#hour, #min {
    width: 50px;
}

.today {
    @extend .day;
    background: #dddddf;
}

.form {
    text-align: center;
    border: solid black 1px;
}
